{% extends 'template/full.html' %}

{% block content %}

<div class="introduction">
    <div class="avatar">
        <img src="/images/avatar.png" alt="Diego Calle">
    </div>
    <h1>Diego Arturo Calle</h1>
    <h3>Desarrollador Web</h3>
</div>

<div class="contact-info">
    <div class="contact">
        <i class="fa fa-phone"></i>
        <span>300 610 8399</span>
    </div>
    <div class="contact">
        <i class="fa fa-envelope"></i>
        <span>dnetix@gmail.com</span>
    </div>
    <div class="contact">
        <i class="fa fa-anchor"></i>
        <span>http://dnetix.co</span>
    </div>
</div>

<div class="work-experience">
    
</div>

{% endblock %}
