{% extends 'template/full.html' %}

{% block content %}
<section class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="text-primary">Cards</h1>
        </div>
        <div class="col-lg-8">
            <p class="lead">
                A panel is a piece of paper that contains unique related data.
                Cards are typically an entry point to more complex and detailed information.</p>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <h2 class="text-primary">Styling options</h2>
        </div>
        <div class="col-lg-8">
            <p>Cards can be formatted in different ways so that it best suits its content. There are different styles available for this purpose which can be combined with each other.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="panel">
                <div class="panel-heading">
                    <h3>Header</h3>
                    <div class="options">
                        <div class="btn-group">
                            <a class="btn-refresh"><i class="fa fa-refresh"></i></a>
                            <a class="btn-collapse"><i class="fa fa-angle-down"></i></a>
                            <a class="btn-close"><i class="fa fa-close"></i></a>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <p>Per at postea mediocritatem, vim numquam aliquid eu, in nam sale gubergren. Fuisset
                        delicatissimi duo, qui ut animal noluisse erroribus. Ea eum veniam audire. Dicant vituperata
                        consequuntur.</p>
                </div>
            </div>
            <em class="text-caption">Basic Card</em>
        </div>
        <div class="col-md-6">
            <div class="panel panel-underline">
                <div class="panel-heading">
                    <h3>Header</h3>
                    <div class="options">
                        <div class="btn-group">
                            <a class="btn-refresh"><i class="fa fa-refresh"></i></a>
                            <a class="btn-collapse"><i class="fa fa-angle-down"></i></a>
                            <a class="btn-close"><i class="fa fa-close"></i></a>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <p>Ad ius duis dissentiunt, an sit harum primis persecuti, adipisci tacimates mediocrem sit et.
                        Id illud voluptaria omittantur qui, te affert nostro mel. Cu conceptam vituperata temporibus
                        has.</p>
                </div>
            </div>
            <em class="text-caption">Underlined Card</em>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-outlined panel-primary">
                <div class="panel-heading">
                    <div class="options">
                        <div class="btn-group">
                            <a class="btn-refresh"><i class="fa fa-refresh"></i></a>
                            <a class="btn-collapse"><i class="fa fa-angle-down"></i></a>
                            <a class="btn-close"><i class="fa fa-close"></i></a>
                        </div>
                    </div>
                    <h3><i class="fa fa-fw fa-tag"></i> Header</h3>
                </div>
                <div class="panel-body">
                    <p>Per at postea mediocritatem, vim numquam aliquid eu, in nam sale gubergren. Fuisset
                        delicatissimi duo, qui ut animal noluisse erroribus. Ea eum veniam audire. Dicant vituperata
                        consequuntur.</p>
                </div>
            </div>
            <em class="text-caption">Outlined Card with icon</em>
        </div>
        <div class="col-md-6">
            <div class="panel panel-bordered panel-primary">
                <div class="panel-heading">
                    <div class="options">
                        <div class="btn-group">
                            <a class="btn-refresh"><i class="fa fa-refresh"></i></a>
                            <a class="btn-collapse"><i class="fa fa-angle-down"></i></a>
                            <a class="btn-close"><i class="fa fa-close"></i></a>
                        </div>
                    </div>
                    <h3><i class="fa fa-fw fa-tag"></i> Header</h3>
                </div>
                <div class="panel-body panel-default-bright">
                    <p>Ad ius duis dissentiunt, an sit harum primis persecuti, adipisci tacimates mediocrem sit et.
                        Id illud voluptaria omittantur qui, te affert nostro mel. Cu conceptam vituperata temporibus
                        has.</p>
                </div>
            </div>
            <em class="text-caption">Outlined &amp; solid header Card with icon</em>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-bordered panel-primary">
                <div class="panel-heading">
                    <div class="options">
                        <div class="btn-group">
                            <a class="btn-refresh"><i class="fa fa-refresh"></i></a>
                            <a class="btn-collapse"><i class="fa fa-angle-down"></i></a>
                            <a class="btn-close"><i class="fa fa-close"></i></a>
                        </div>
                    </div>
                    <h3>Header</h3>
                </div>
                <div class="panel-body">
                    <p>Per at postea mediocritatem, vim numquam aliquid eu, in nam sale gubergren. Fuisset
                        delicatissimi duo, qui ut animal noluisse erroribus. Ea eum veniam audire. Dicant vituperata
                        consequuntur.</p>
                </div>
            </div>
            <em class="text-caption">Colored Card</em>
        </div>
        <div class="col-md-6">
            <div class="panel">
                <div class="panel-heading">
                    <div class="options">
                        <div class="btn-group">
                            <a class="btn-refresh"><i class="fa fa-refresh"></i></a>
                            <a class="btn-collapse"><i class="fa fa-angle-down"></i></a>
                            <a class="btn-close"><i class="fa fa-close"></i></a>
                        </div>
                    </div>
                    <h3>Header</h3>
                </div>
                <div class="panel-body panel-primary">
                    <p>Ad ius duis dissentiunt, an sit harum primis persecuti, adipisci tacimates mediocrem sit et.
                        Id illud voluptaria omittantur qui, te affert nostro mel. Cu conceptam vituperata temporibus
                        has.</p>
                </div>
            </div>
            <em class="text-caption">Card with colored body</em>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <h2>Sizes</h2>
        </div>
        <div class="col-lg-8">
            <p>Sometimes you have to put more or less emphasis on a panel.
                You can do this using one of the headersize classes.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3 col-sm-6">
            <div class="panel panel-primary">
                <div class="panel-heading panel-heading-xs">
                    <h3>XS header</h3>
                    <div class="options">
                        <div class="btn-group">
                            <a class="btn-refresh"><i class="fa fa-refresh"></i></a>
                            <a class="btn-collapse"><i class="fa fa-angle-down"></i></a>
                            <a class="btn-close"><i class="fa fa-close"></i></a>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    Rather have larger or smaller panel headers? There are 4 different sizes.
                    <blockquote>
                        <small>panel-heading-xs, panel-heading-sm, regular, panel-heading-lg</small>
                    </blockquote>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-sm-6">
            <div class="panel panel-primary">
                <div class="panel-heading panel-heading-sm">
                    <h3>SM header</h3>
                    <div class="options">
                        <div class="btn-group">
                            <a class="btn-refresh"><i class="fa fa-refresh"></i></a>
                            <a class="btn-collapse"><i class="fa fa-angle-down"></i></a>
                            <a class="btn-close"><i class="fa fa-close"></i></a>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    Rather have larger or smaller panel headers? There are 4 different sizes.
                    <blockquote>
                        <small>panel-heading-xs, panel-heading-sm, regular, panel-heading-lg</small>
                    </blockquote>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-sm-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3>
                        Regular header
                    </h3>
                    <div class="options">
                        <div class="btn-group">
                            <a class="btn-refresh"><i class="fa fa-refresh"></i></a>
                            <a class="btn-collapse"><i class="fa fa-angle-down"></i></a>
                            <a class="btn-close"><i class="fa fa-close"></i></a>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    Rather have larger or smaller panel headers? There are 4 different sizes.
                    <blockquote>
                        <small>panel-heading-xs, panel-heading-sm, regular, panel-heading-lg</small>
                    </blockquote>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-sm-6">
            <div class="panel panel-primary">
                <div class="panel-heading panel-heading-lg">
                    <h3>XL header</h3>
                    <div class="options">
                        <div class="btn-group">
                            <a class="btn-refresh"><i class="fa fa-refresh"></i></a>
                            <a class="btn-collapse"><i class="fa fa-angle-down"></i></a>
                            <a class="btn-close"><i class="fa fa-close"></i></a>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    Rather have larger or smaller panel headers? There are 4 different sizes.
                    <blockquote>
                        <small>panel-heading-xs, panel-heading-sm, regular, panel-heading-lg</small>
                    </blockquote>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <h2 class="text-primary">Colors</h2>
        </div>
        <div class="col-lg-8">
            <p>Convey meaning through color with the styling classes.</p>
        </div>
    </div>
    <div class="row" id="panel-colors">
        <div class="col-lg-2 col-md-4 col-sm-6">
            <div class="panel panel-primary-dark">
                <div class="panel-heading height-1"></div>
                <div class="panel-body small-padding text-center">.panel-primary-dark</div>
            </div>
        </div>
        <div class="col-lg-2 col-md-4 col-sm-6">
            <div class="panel panel-primary">
                <div class="panel-heading height-1"></div>
                <div class="panel-body small-padding text-center">.panel-primary</div>
            </div>
        </div>
        <div class="col-lg-2 col-md-4 col-sm-6">
            <div class="panel panel-primary-light">
                <div class="panel-heading height-1"></div>
                <div class="panel-body small-padding text-center">.panel-primary-light</div>
            </div>
        </div>
        <div class="col-lg-2 col-md-4 col-sm-6">
            <div class="panel panel-default-dark">
                <div class="panel-heading height-1"></div>
                <div class="panel-body small-padding text-center">.panel-default-dark</div>
            </div>
        </div>
        <div class="col-lg-2 col-md-4 col-sm-6">
            <div class="panel panel-default">
                <div class="panel-heading height-1"></div>
                <div class="panel-body small-padding text-center">.panel-default</div>
            </div>
        </div>
        <div class="col-lg-2 col-md-4 col-sm-6">
            <div class="panel panel-default-light">
                <div class="panel-heading height-1"></div>
                <div class="panel-body small-padding text-center">.panel-default-light</div>
            </div>
        </div>
        <div class="col-lg-2 col-md-4 col-sm-6">
            <div class="panel panel-gray-dark">
                <div class="panel-heading height-1"></div>
                <div class="panel-body small-padding text-center">.panel-gray-dark</div>
            </div>
        </div>
        <div class="col-lg-2 col-md-4 col-sm-6">
            <div class="panel panel-gray">
                <div class="panel-heading height-1"></div>
                <div class="panel-body small-padding text-center">.panel-gray</div>
            </div>
        </div>
        <div class="col-lg-2 col-md-4 col-sm-6">
            <div class="panel panel-gray-light">
                <div class="panel-heading height-1"></div>
                <div class="panel-body small-padding text-center">.panel-gray-light</div>
            </div>
        </div>
        <div class="col-lg-2 col-md-4 col-sm-6">
            <div class="panel panel-danger">
                <div class="panel-heading height-1"></div>
                <div class="panel-body small-padding text-center">.panel-danger</div>
            </div>
        </div>
        <div class="col-lg-2 col-md-4 col-sm-6">
            <div class="panel panel-warning">
                <div class="panel-heading height-1"></div>
                <div class="panel-body small-padding text-center">.panel-warning</div>
            </div>
        </div>
        <div class="col-lg-2 col-md-4 col-sm-6">
            <div class="panel panel-success">
                <div class="panel-heading height-1"></div>
                <div class="panel-body small-padding text-center">.panel-success</div>
            </div>
        </div>
        <div class="col-lg-2 col-md-4 col-sm-6">
            <div class="panel panel-info">
                <div class="panel-heading height-1"></div>
                <div class="panel-body small-padding text-center">.panel-info</div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <h2 class="text-primary">Actions</h2>
        </div>
        <div class="col-lg-3 col-md-4">
            <p>Supplemental actions within the panel are explicitly called out using icons, text, and UI
                controls, typically placed at the bottom of the panel.</p>
        </div>
        <div class="col-lg-offset-1 col-md-8">
            <div class="panel">
                <div class="panel-heading">
                    <h3>Card with actions</h3>
                </div>
                <div class="panel-body">
                    <p>Ad ius duis dissentiunt, an sit harum primis persecuti, adipisci tacimates mediocrem sit et.
                        Id illud voluptaria omittantur qui, te affert nostro mel. Cu conceptam vituperata temporibus
                        has.</p>
                </div>
                <div class="panel-actions">
                    <a href="javascript:;" class="btn btn-flat">Cancel</a>
                    <a href="javascript:;" class="btn btn-flat">Submit</a>
                </div>
            </div>
            <em class="text-caption">Card with an actionbar</em>
            <div class="panel">
                <div class="panel-body">
                    <p>Ad ius duis dissentiunt, an sit harum primis persecuti, adipisci tacimates mediocrem sit et.
                        Id illud voluptaria omittantur qui, te affert nostro mel. Cu conceptam vituperata temporibus
                        has.</p>
                </div>
                <div class="panel-actions">
                    <a href="javascript:;" class="btn btn-flat"><i class="fa fa-reply"></i></a>
                    <a href="javascript:;" class="btn btn-flat">Submit</a>
                </div>
            </div>
            <em class="text-caption">Left and right aligned actions</em>
            <div class="panel">
                <div class="panel-body">
                    <p>Ad ius duis dissentiunt, an sit harum primis persecuti, adipisci tacimates mediocrem sit et.
                        Id illud voluptaria omittantur qui, te affert nostro mel. Cu conceptam vituperata temporibus
                        has.</p>
                </div>
                <div class="panel-actions">
                    <a href="javascript:;" class="btn btn-flat"><i class="fa fa-heart"></i></a>
                    <a href="javascript:;" class="btn btn-flat"><i class="fa fa-reply"></i></a>
                    <a href="javascript:;" class="btn btn-flat">Cancel</a>
                    <a href="javascript:;" class="btn btn-flat">Submit</a>
                </div>
            </div>
            <em class="text-caption">Double actionbar</em>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <h2 class="text-primary">Behavior</h2>
        </div>
        <div class="col-lg-12">
            <h4>Single scrollbar</h4>
        </div>
        <div class="col-lg-3 col-md-4">
            <p>Cards can be given a fixed height with a custom scroll bar.</p>
        </div>
        <div class="col-lg-offset-1 col-md-8">
            <div class="panel">
                <div class="panel-heading">
                    <h3>Scroll Card</h3>
                </div>
                <div class="panel-body scrollable" style="height: 120px;">
                    <p>Cu conceptam vituperata temporibus has. Ad ius duis dissentiunt, an sit harum primis
                        persecuti, adipisci tacimates mediocrem sit et. Id illud voluptaria omittantur qui,
                        te affert nostro mel. Omnis modus phaedrum an vim, pri ipsum quando no.</p>
                    <p>Eros facete ponderum et vix. Quo nisl pertinax at, mea ea ullum simul ponderum.
                        Postulant definiebas ius et, quas voluptaria moderatius pro ex, ea augue aeque
                        labitur mea. Cu quo explicari iracundia, et quo primis ceteros moderatius. Veniam
                        ubique laboramus ut pri, cu mea causae docendi. Cum an tritani civibus, est quem
                        error malorum ei, quod fuisset eu sed.</p>
                    <p>Duo semper accumsan ea, quidam convenire cum cu, oportere maiestatis incorrupte est
                        eu. Soluta audiam timeam ius te, idque gubergren forensibus ad mel, persius
                        urbanitas usu id. Civibus nostrum fabellas mea te, ne pri lucilius iudicabit. Ut
                        cibo semper vituperatoribus vix, cum in error elitr. Vix molestiae intellegat
                        omittantur an, nam cu modo ullum scriptorem.</p>
                    <p>Quod option numquam vel in, et fuisset delicatissimi duo, qui ut animal noluisse
                        erroribus. Ea eum veniam audire. Per at postea mediocritatem, vim numquam aliquid
                        eu, in nam sale gubergren. Dicant vituperata consequuntur at sea, mazim commodo</p>
                    <p>Ad ius duis dissentiunt, an sit harum primis persecuti, adipisci tacimates mediocrem
                        sit et. Id illud voluptaria omittantur qui, te affert nostro mel. Cu conceptam
                        vituperata temporibus has.</p>
                </div>
            </div>
            <em class="text-caption">Hover to see the scroller</em>
        </div>
    </div>
</section>

{% endblock %}
