.badge {
  display: inline-block;
  min-width: 10px;
  padding: 3px 7px;
  font-size: 12px;
  font-weight: 700;
  line-height: 1;
  color: @badge-color-text-default;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  background-color: @badge-color-default;
  border-radius: 6px;
}

.badge-danger {
  background: @color-red;
}